.border-transparent {
    border-color: white;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: white;
    background-image: none;
}